@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Bungee&family=Limelight&family=Palanquin+Dark:wght@400;500;600;700&family=Pattaya&family=Righteous&family=Silkscreen&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Righteous;
    font-weight: 400;
    /*outline: auto;*/
}

span{
    color: white;
}

.container {
    position: absolute;
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url('..//img/night\ skies.jpg')
    /*width: 100dvw;
    height: 100dvh;
    background: url('..//img/night\ skies.jpg');
    object-fit: cover;
    position: relative;*/
  }
.navbar {
    padding: 10px 10px;
    display: flex;
}
.navbar h1{
    margin-left: 5%;
    font-size: xx-large;
    color: lightskyblue;
}
.navbar ul{
    padding-left: 12%;
}
.navbar li{
    display: flex;
    padding: 0 35px;

}
.navbar a{
    font-size: 15px;
    padding: 3px 20px;
}

.start{
    margin-top: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.start h1{
    text-align: center;
    font-size: 80px;
    color: lightskyblue;
}
p{
    line-height: 5;
    font-size: 25px;
    color: white;
}
nav li{
    padding: 0 55px;
}
nav ul {
    line-height: 2;
    list-style: none;
    justify-content: space-around;
    display: flex;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 20px 20px;
}
a:hover{
    transition: ease-in, 0.5s;
    background-color: lightskyblue;
}